.newsletter {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background/main-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
