@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

.newsletter {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background/main-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
