@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Common*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.page {
  flex-grow: 1;
}

/* Header */
.header-container {
  max-width: 1060px;
  margin: 0 auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  margin: 0 30px;
  padding: 0;

  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  list-style: none;
}
/* Проверить необходимость этого класса */
.menu__item {
}

.menu__link {
  display: block;
  padding: 20px 17px;

  text-decoration: none;

  color: #000000;
}

.menu__additional {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.additional__icon {
  display: block;
  width: 42px;
  height: 42px;
}

.additional__button {
  margin-left: 20px;
}
/* Footer */

.footer {
  padding: 40px 0 30px;
}

.footer-container {
  max-width: 1056px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social {
  max-width: 127px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.social__list {
  margin: 0;
  padding: 0;
}

.social__item {
  margin-right: 3px;
  margin-bottom: 8px;
}

.social__item:nth-child(3n) {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
}

.footer__phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;

  color: #000000;
}

/* Main */

.main-promo {
  min-height: 485px;

  background-color: #83b3d3;
  background-image: url("../images/background/promo.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
}

.page-header {
  padding-top: 30px;
  padding-bottom: 83px;

  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background/main-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-container {
  width: 1057px;
  margin: 0 auto;
}

.page-header__title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;

  font-size: 16px;
}

.breadcrumbs__link {
  color: #ffffff;
  text-decoration: none;
}

/* Section */

.section-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

  color: #000000;
}

.section-subtitle {
  font-size: 22px;
  line-height: 26px;
}

/* Button */

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  background-color: #83b3d3;
}

.button__color {
  background-color: #756257;
}

.button__size {
  font-size: 20px;
}

/* Forms */

.newsletter__input {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;

  background-color: #f2f2f2;
}

/* Filter-price */

.filter-price__input {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;

  color: #ffffff;
  background-color: transparent;
}

.filter-price__text {
  opacity: 0.3;
}

/* Card */

.card__title {
  font-size: 24px;
  line-height: 31px;
}

.card__link {
  color: #000000;

  text-decoration: none;
}

.card-rate {
  font-size: 16px;
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  padding: 30px 0;
}

.pagination__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination__item:not(:last-child) {
  margin-right: 8px;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 55px;
  padding: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;

  color: #ffffff;
  background-color: #83b3d3;
}

.pagination__select {
  display: flex;
}

.pagination__description {
  margin: 0;
  margin-right: 51px;
}

/* Features */

.features {
  text-align: center;
}

.features__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-list {
  list-style: none;
}

.features-list__inner {
  padding: 0;

  color: #333333;
  background-color: #ffffff;
}

.features-list__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.features-list__item--color {
  background-color: #ffffff;
}

.features__item {
  background-color: rgba(131, 179, 211, 0.12);
}

.features__item--color {
  background-color: rgba(131, 179, 211, 0.2);
}

.features__item--large {
  color: #ffffff;
  background-color: #83b3d3;
}

.features__title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.features__title--color {
  color: #ffffff;
}

/* Search */

.search {
  text-align: center;
}

/* Newsletter */

.newsletter {
  text-align: center;
}

.newsletter--color {
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter__title {
  color: #ffffff;
}

/* Filter */

.filter__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.filter__button-reset {
  align-self: center;
  color: #ffffff;
  background-color: transparent;

  font-family: inherit;
  font-size: 18px;
}

.filter__form {
  display: flex;
}

.filter__fieldset {
  width: 200px;
  margin: 0;
  margin-right: 17px;
  padding: 0;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__fieldset-price {
  width: 287px;
  margin-left: 74px;
}

.filter__buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-left: 64px;
}

/* Catalog */

.catalog {
  padding: 0 72px;
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
}

.catalog-title {
  width: 50%;
  margin: 0;
}

.catalog__select {
  width: 287px;
  margin-right: auto;
}

.view {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.view__item {
  margin: 0 4px;
}

.view-link {
  display: block;
  width: 48px;
  height: 48px;
}
